<div *ngIf="letter" class="detail">
  <p class="detail__item">{{letter.id | doubleCase}}</p>

  <div class="detail__picture">
    <img src="../../assets/{{letter.image}}" alt="{{letter.example}}">
    <p>{{letter.example | capitalizer}}</p>
  </div>

  <div class="detail__tester">
    <p class="detail__task">
      Найдите (кликните) букву <span class="detail__letter">{{letter.id}}</span> в слове:
    </p>

    <div class="detail__test">
      <div *ngIf="timerID" class="detail__popup" [class.detail__popup--checked]="isChecked">
        <span *ngIf="isChecked === true">Правильно!</span>
        <span *ngIf="isChecked === false">Неверно!</span>
      </div>

      <div class="detail__list">
        <span #letterSpan *ngFor="let item of (letter.words | randomizer)" (click)="onSelect(letterSpan)">
          {{item}}
        </span>
      </div>
    </div>
  </div>

</div>
